/* Inicio */
#inicio {
    width: 100%;
    height: 85vh;

    display: flex;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../img/seccion-inicio.jpg) center/cover no-repeat;
}

#inicio .contenido {
    max-width: 1000px;

    margin: auto;
}

.contenido h1 {
    color: #000;

    font-size: 70px;
    font-weight: normal;
}

.contenido h2 {
    color: #000;

    font-size: 25px;
    font-weight: normal;

    margin: 30px 0;
}

@media (max-width: 768px) {
    #inicio .contenido {
        max-width: 300px;
        margin: auto;
    }
    .contenido h1 {
        font-size: 30px;
    }
    
    .contenido h2 {
        font-size: 18px;
    }
}

/* Servicios */
#servicios {
    width: 50%;
    height: auto;

    display: grid;
    place-items: center;

    margin: auto;
}

#servicios h2 {
    font-size: 35px;

    text-decoration: underline;
    text-decoration-color: #1F754A;
    text-decoration-thickness: 5px;

    margin-bottom: 10px;
}

#servicios .servicio a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: #000;

    font-size: 18px;

    gap: 100px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    #servicios {
        width: 80%;
    }
    
    #servicios h2 {
        font-size: 20px;
    }
    
    #servicios .servicio a {
        font-size: 12px;
    
        gap: 70px;
    }
}

/* Nosotros */
#nosotros {
    width: 50%;
    height: auto;

    display: grid;
    place-items: center;

    margin: auto;
}

#nosotros h2 {
    font-size: 35px;

    text-decoration: underline;
    text-decoration-color: #E72110;
    text-decoration-thickness: 5px;

    margin: 50px;
}

.contenedor {
    border: 2px solid #E72110;

    padding: 15px;

    display: grid;
    place-items: center;
}

.contenedor h3 {
    text-align: center;
    font-size: 20px;
}

#nosotros img {
    width: 100%;

    margin-top: 20px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.content p {
    text-align: justify;

    margin: 10px 0;
}

.content.expand {
    max-height: 1500px;
    transition: max-height 2s ease-in;
}

@media (max-width:768px) {
    #nosotros {
        width: 80%;
    }
    
    #nosotros h2 {
        font-size: 20px;
    }
    
    .contenedor h3 {
        text-align: center;
        font-size: 15px;
    }

    
    .content p {
        font-size: 13px;
    }
    
    .content.expand {
        max-height: 2500px;
    }
}

/* Contacto */
#contacto {
    margin: 50px;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 60%;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 35px;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

@media (max-width:768px) {
    #contacto .contenedor-form {
        max-width: 90%;
        margin: auto;
    }
}