.nosotros {
    display: grid;
    place-items: center;
    gap: 30px;
    margin: 100px auto;

    width: 80%;
}

.nosotros h2{
    font-size: 40px;
}
.nosotros img{
    width: 100%;
    border-radius: 15px;
}

.text h3{
    margin: 10px 0;
    font-size: 22px;
    text-align: center;
}

.text p{
    font-size: 16px;
    text-align: justify;
}

/* MOBILE */
@media (max-width: 768px) {
    .nosotros h2{
        font-size: 20px;
    }
    .text h3{
        font-size: 17px;
    }
    .text p{
        font-size: 13px;
    }
}
